[Unit]
Description=Power on TV at boot after network is up
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/lgpowercontrol/lgpowercontrol ON

[Install]
WantedBy=multi-user.target
