[Desktop Entry]
Exec=LISTEN_SCRIPT
Icon=application-x-shellscript
Name=LGPowerControl
Type=Application
X-GNOME-Autostart-enabled=true
X-KDE-AutostartScript=true