[Unit]
Description=Power off TV at shutdown (not reboot)
DefaultDependencies=no
Before=poweroff.target halt.target
Conflicts=reboot.target

[Service]
Type=oneshot
ExecStart=/opt/lgpowercontrol/lgpowercontrol OFF

[Install]
WantedBy=poweroff.target halt.target
